 <% if current_user != nil %>
<div class="profile-box top">
    <img src="<%= image_path('face.png') %>" class="face"/>
    <span class="name">
        <%= current_user.name %>
    </span>
    <% if current_user.department != nil %>
    <span class="department">
        <%= current_user.department.name %>
    </span>
    <% end %>
</div>

<div class="profile-box">
    <span>
        <%= current_user.email %>
    </span>
</div>

<div class="profile-box">
    <span>
        555 555 55 55
    </span>
</div>

<div class="button">
   <%= link_to "go to linkedin", "https://www.linkedin.com/", :target => "_blank" %>
</div>

<div class="button pink">
   <%= link_to "Go home", root_url %>
</div>
<% end %>
