 <% if  @user %>
<div class="profile-box top">
    <img src="<%= image_path('face.png') %>" class="face"/>
    <span class="name">
        <%= @user.name %>
    </span>
    <% if @user.department != nil %>
    <span class="department">
        <%= @user.department.name %>
    </span>
    <% end %>
</div>

<div class="profile-box">
    <span>
        <%= @user.email %>
    </span>
</div>

<div class="button">
   <%= link_to "go to linkedin", "https://www.linkedin.com/", :target => "_blank" %>
</div>
<% end %>
