<% if user_signed_in? %>
    <div class="user-feed-card">
        <div class="card-content">
        <span>
            <img src="<%= image_path('face.png') %>" class="face"/>
        </span>
        <span>
            <h3>Welcome</h3>
            <h2><%= link_to @user.name, @user %></h2>
        </span>
        </div>
    </div>
<% end %>


  <% if @lunch %>
    <div class="section-heading">
        <h1>Upcoming</h1>
        <p>Here's the lunch you've joined</p>
    </div>
    <div class="event">
        <div class="event-content">
            <h3><%= @next_lunch_start.strftime('%B %Y') %></h3>
            <h2><%= @next_lunch_start.strftime('%A %d') %></h2>
            <h2>at 12:00</h2>
              <div class="content">
                <% if @users %>
                  <p>with
                  <% @users.each_with_index do |user, i| %>
                     <span class="name"><%= link_to user.name , user_path(user.id)%></span>
                    <% if i != @users.count - 1 %>
                      and 
                    <% end %>
                  <% end %>
                <% end %>
                </p>
              </div>

            <div class="button black">
                <%= link_to "Cancel", '/lunches/cancel_next_lunch' %>
            </div>
        </div>
    </div>
    <div class="section-heading">
        <h1>Conversations</h1>
        <p>Avoid an akward silence</p>
    </div>

    <div class="event-conversations">
        <div class="event-content">
            <h3>Topic</h3>
            <h2>What is the worst thing you have eaten?</h2>
            <div class="button pink">
                <%= link_to "See All", static_pages_conversations_url %>
            </div>
        </div>
    </div>
  <% else %>
    <div class="section-heading">
        <h1>Join Lunch</h1>
        <p>Sign up to join the next lunch round</p>
    </div>
    <div class="event">
        <div class="event-content">
            <h3><%= Date.current.next_week(:thursday).strftime('%B %Y')  %></h3>
            <h2><%= Date.current.next_week(:thursday).strftime('%A %d %B')  %></h2>
            <h2>at 12:00</h2>
            <div class="button pink">
                <%= link_to "Join", lunches_path, method: :post %>
            </div>
        </div>
    </div>
  <% end %>

<div class="section-heading">
    <h1>Previously</h1>
    <p>See the lunches you have been on before</p>
</div>

<div class="prev-container">
    <div class="lunch">
        <div class="content">
            <h3 class="date">3 may</h3>
            <p>with <span class="name"><%= link_to @random_users[0].name, user_path(@random_users[0].id)%></span> and 
            <span class="name"><%= link_to @random_users[1].name, user_path(@random_users[1].id)%></span></p>
        </div>
    </div>
    <div class="lunch">
        <div class="content">
            <h3 class="date">28 april</h3>
            <p>with <span class="name"><%= link_to @random_users[2].name, user_path(@random_users[2].id)%></span></p>
        </div>
    </div>
       <div class="lunch">
        <div class="content">
            <h3 class="date">9 april</h3>
            <p>with <span class="name"><%= link_to @random_users[3].name, user_path(@random_users[3].id)%></span> 
            and <span class="name"><%= link_to @random_users[4].name, user_path(@random_users[4].id)%></span></p>
        </div>
    </div>
</div>


<% if user_signed_in? %>
<div class="button black">
    <%= link_to "Log out", destroy_user_session_path, :method => :delete  %>
</div>
<% end %>