
<div class="section-heading">
    <h1>Join Lunch</h1>
    <p>Sign up to join the next lunch round</p>
</div>
  <% if @users %>
    <div class="event">
        <div class="event-content">
            <h3>May 2019</h3>
            <h2><%= Date.current.next_week(:thursday) %></h2>
            <h2>at 12:00</h2>
              <div class="content">
                <p>with
                <% @users.each_with_index do |user, i| %>
                  <span class="name"><%= link_to user.name , user_path(user.id)%></span>
                  <% if i != @users.count - 1 %>
                    and 
                  <% end %>
                <% end %>
                </p>
              </div>

            <div class="button grey">
                <%= link_to "Cancel", lunches_path, method: :post %>
            </div>
        </div>
    </div>
  <% else %>
    <div class="event">
        <div class="event-content">
            <h3>May 2019</h3>
            <h2><%= Date.current.next_week(:thursday) %></h2>
            <h2>at 12:00</h2>
            <div class="button pink">
                <%= link_to "Join", lunches_path, method: :post %>
            </div>
        </div>
    </div>
  <% end %>

    <div class="event-conversations">
        <div class="event-content">
            <h2>Need something to talk about?</h2>
            <div class="button white">
                <a>Conversation menu</a>
            </div>
        </div>
    </div>

<div class="section-heading">
    <h1>Previously</h1>
    <p>See the lunches you have been on before</p>
</div>

<div class="prev-container">
    <div class="lunch">
        <div class="content">
            <h3 class="date">3 may</h3>
            <p>with <span class="name"><%= link_to @random_users[0].name, user_path(@random_users[0].id)%></span> and 
            <span class="name"><%= link_to @random_users[1].name, user_path(@random_users[1].id)%></span></p>
        </div>
    </div>
    <div class="lunch">
        <div class="content">
            <h3 class="date">28 april</h3>
            <p>with <span class="name"><%= link_to @random_users[2].name, user_path(@random_users[2].id)%></span></p>
        </div>
    </div>
       <div class="lunch">
        <div class="content">
            <h3 class="date">9 april</h3>
            <p>with <span class="name"><%= link_to @random_users[3].name, user_path(@random_users[3].id)%></span> 
            and <span class="name"><%= link_to @random_users[4].name, user_path(@random_users[4].id)%></span></p>
        </div>
    </div>
</div>