<!DOCTYPE html>
<html>
  <head>
    <title>Qiao</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render "global_partials/header" %>
    <%= render "global_partials/notice" %>
    <div class="content-container">
      <%= yield %>
    </div>
  </body>
</html>
